pycocotools
pycocoevalcap
tqdm
pyyaml
torch
pytesseract
opencv-python
torchvision
transformers
customtkinter
pillow
easyocr
git+https://github.com/dimaslanjaka/php-proxy-hunter.git#subdirectory=packages/proxy-hunter-python